/.idea/.name
/uploads/12091510---15400_20250318.docx
/uploads/12091510---15400_20250318.md
/static/12091510---15400_20250318 (4).docx
/uploads/12091510---15400_20250318_.docx
/uploads/12091510---15400_20250318_.md
/static/12091510集中故障管理系统-监控综合应用-关于集团事件工单省部接口数据上报保障的开发需求-15400_20250318.md
/offline_packages/annotated_types-0.7.0-py3-none-any.whl
/offline_packages/anyio-4.5.2-py3-none-any.whl
/offline_packages/blinker-1.8.2-py3-none-any.whl
/offline_packages/bootstrap_flask-2.5.0-py3-none-any.whl
/offline_packages/certifi-2025.11.12-py3-none-any.whl
/offline_packages/click-8.1.8-py3-none-any.whl
/.idea/easycode/codebase-v2.xml
/offline_packages/distro-1.9.0-py3-none-any.whl
/templates/Dockerfile
/.idea/easycode.ignore
/offline_packages/exceptiongroup-1.3.1-py3-none-any.whl
/offline_packages/flask-3.0.3-py3-none-any.whl
/offline_packages/Flask_Cors-5.0.0-py2.py3-none-any.whl
/offline_packages/h11-0.16.0-py3-none-any.whl
/offline_packages/httpcore-1.0.9-py3-none-any.whl
/offline_packages/httpx-0.28.1-py3-none-any.whl
/offline_packages/idna-3.11-py3-none-any.whl
/offline_packages/importlib_metadata-8.5.0-py3-none-any.whl
/offline_packages/itsdangerous-2.2.0-py3-none-any.whl
/offline_packages/jinja2-3.1.6-py3-none-any.whl
/offline_packages/jiter-0.9.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
/offline_packages/lxml-6.0.2-cp38-cp38-manylinux2014_x86_64.manylinux_2_17_x86_64.whl
/offline_packages/MarkupSafe-2.1.5-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
/.idea/misc.xml
/offline_packages/numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
/offline_packages/openai-2.2.0-py3-none-any.whl
/offline_packages/pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
/offline_packages/pydantic-2.10.6-py3-none-any.whl
/offline_packages/pydantic_core-2.27.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
/offline_packages/python_dateutil-2.9.0.post0-py2.py3-none-any.whl
/offline_packages/python_docx-1.1.2-py3-none-any.whl
/offline_packages/python_dotenv-1.0.1-py3-none-any.whl
/offline_packages/pytz-2025.2-py2.py3-none-any.whl
/uploads/excel_input/redis_export__LEGACY_ORDER_20251204_233623_1765246965314.xlsx
/requirements.txt
/requirements2.txt
/offline_packages/six-1.17.0-py2.py3-none-any.whl
/offline_packages/sniffio-1.3.1-py3-none-any.whl
/uploads/source_doc.docx
/uploads/source_to_format.docx
/offline_packages/tqdm-4.67.1-py3-none-any.whl
/offline_packages/typing_extensions-4.13.2-py3-none-any.whl
/offline_packages/tzdata-2025.2-py2.py3-none-any.whl
/offline_packages/utils-1.0.1-py2.py3-none-any.whl
/uploads/valid_demo.docx
/offline_packages/werkzeug-3.0.6-py3-none-any.whl
/offline_packages/wtforms-3.1.2-py3-none-any.whl
/offline_packages/zipp-3.20.2-py3-none-any.whl
/templates/~$mplate.docx
/uploads/excel_input/工作簿2_1765247592647.xlsx
/uploads/excel_input/工作簿2_1765247617163.xlsx
/uploads/excel_input/总cosmic_1765247859169.xlsx
/uploads/excel_input/监控综合应用系统开发研发（2024-2025）-需求清单V1.0.0_1765247783417.xlsx
/uploads/excel_input/附件2集中故障管理系统-监控综合应用-关于产品事件监控优化提升项目功能点拆分表V1.0.0(1)_1765191720113.xlsx
/tmp/集中故障管理系统 - 事件工单优化需求规格说明书（带字体格式版） (1).docx
/static/集中故障管理系统-监控综合应用-关于集团事件工单省部接口数据上报保障的开发需求-15400_20250318.docx
