<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>frontend</title>
    <script type="module" crossorigin src="/assets/index-0K4I7pZd.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/_plugin-vue_export-helper-CfCmNchI.js">
    <link rel="modulepreload" crossorigin href="/assets/rolldown-runtime-2JzG8er9.js">
    <link rel="modulepreload" crossorigin href="/assets/element-plus-B2ATQQKs.js">
    <link rel="modulepreload" crossorigin href="/assets/vendor-CWZbo27A.js">
    <link rel="modulepreload" crossorigin href="/assets/auth-crxyFK2t.js">
    <link rel="modulepreload" crossorigin href="/assets/user-BImBHujE.js">
    <link rel="stylesheet" crossorigin href="/assets/element-plus-yTvnoJFh.css">
    <link rel="stylesheet" crossorigin href="/assets/index-D7XvBm-N.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
